
.slot_style details {font-family: "Open Sans Light", Helvetica, Arial, sans-serif }
.slot_style .name {font-weight: bold; color: #217ac0; font-size: 120% }
.slot_style h4 {
    margin: 10px 0 -8px 0;
    background: #217ac0; 
    color: white;
    padding: 2px 6px;
    border: 1px solid #cee9f9; 
    border-radius: 4px;
}
.slot_style .attributes { margin-left: 22px; font-size: 90% }
.slot_style .attributes p { margin-left: 16px; font-style: italic }

